Dockerfile
.dockerignore
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log
README.md
.env
.env.local
.env*.local
.next
.git
.gitignore
.eslintcache
.vercel
*.tsbuildinfo
dist
coverage
.vscode
.idea
*.log
.DS_Store

